{% extends "base.html" %}

{% block title %}Contraseña cambiada{% endblock %}

{% block content %}
<!-- Panel Header con el Título estilizado -->
<div class="panel-header panel-header-sm">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="header-title">Contraseña actualizada</h2>
            </div>
        </div>
    </div>
</div>

<!-- Contenedor principal con estilo -->
<div class="content">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <!-- Tarjeta con sombra para el contenido -->
            <div class="card shadow-lg">
                <div class="card-body text-center">
                    <h4 class="text-center mb-4">Contraseña actualizada</h4>
                    <p class="styled-subtitle">Tu contraseña ha sido cambiada con éxito.</p>
                    <p>Ahora puedes iniciar sesión con tu nueva contraseña.</p>

                    <!-- Botón para volver al inicio de sesión -->
                    <a href="{% url 'login' %}" class="btn btn-primary btn-lg px-4 mt-3">Volver al inicio de sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
