{% extends "base.html" %}

{% block title %}Nueva Contraseña{% endblock %}

{% block content %}
<!-- Panel Header con el Título estilizado -->
<div class="panel-header panel-header-sm">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="header-title">Nueva Contraseña</h2>
            </div>
        </div>
    </div>
</div>

<!-- Contenedor principal con estilo -->
<div class="content">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <!-- Tarjeta con sombra para el formulario -->
            <div class="card shadow-lg">
                <div class="card-body text-center">
                    <h4 class="text-center mb-4">Establecer Nueva Contraseña</h4>
                    <p class="styled-subtitle">Introduce tu nueva contraseña a continuación.</p>
                    
                    <!-- Formulario para cambiar la contraseña -->
                    <form method="POST" class="text-left mt-4">
                        {% csrf_token %}
                        {{ form.as_p }}
                        
                        <!-- Botón de acción centrado -->
                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-success btn-lg">Cambiar Contraseña</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
