{% extends "base.html" %}

{% block title %}Nueva contraseña{% endblock %}

{% block content %}
<!-- Añadimos el panel-header-sm para consistencia visual -->
<div class="panel-header panel-header-sm"></div>

<div class="container mt-5 mb-5 text-center">
    <!-- Contenedor estilizado para el formulario -->
    <div class="confirmation-container p-4 shadow-sm rounded">
        <h2 class="styled-title">Nueva Contraseña</h2>
        <p class="styled-subtitle">Introduce tu nueva contraseña a continuación.</p>

        <!-- Formulario de cambio de contraseña -->
        <form method="POST" class="text-left mt-4">
            {% csrf_token %}
            {{ form.as_p }}

            <!-- Botón para cambiar la contraseña -->
            <button type="submit" class="btn btn-success btn-lg px-4 mt-3">Cambiar Contraseña</button>
        </form>
    </div>
</div>
{% endblock %}
