<!-- Sidebar for large screens --> 
<div class="sidebar" id="sidebar" data-color="orange">
  <div class="logo">
    <a href="#" class="simple-text logo-mini">GP</a>
    <a href="#" class="simple-text logo-normal" id="sidebar-text">Graphimates</a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <!-- Inicio -->
      <li class="nav-item {% if request.resolver_match.url_name == 'index' %}active{% endif %}">
        <a class="nav-link" href="{% url 'index' %}">
          <i class="fa fa-home"></i>
          <p class="sidebar-item-text">Inicio</p>
        </a>
      </li>

      <!-- Reporte de Vehículos -->
      <li class="nav-item {% if request.resolver_match.url_name == 'reporte_vehiculos' %}active{% endif %}">
        <a class="nav-link" href="{% url 'reporte_vehiculos' %}">
          <i class="fa fa-car"></i>
          <p class="sidebar-item-text">Reporte de Vehículos</p>
        </a>
      </li>

      <!-- Reporte de Neumáticos -->
      <li class="nav-item {% if request.resolver_match.url_name == 'reporte_neumaticos' %}active{% endif %}">
        <a class="nav-link" href="{% url 'reporte_neumaticos' %}">
          <i class="fa fa-tools"></i>
          <p class="sidebar-item-text">Reporte de Neumáticos</p>
        </a>
      </li>

      <!-- Histórico de Datos -->
      <li class="nav-item {% if request.resolver_match.url_name == 'historico_datos' %}active{% endif %}">
        <a class="nav-link" href="#">
          <i class="fa fa-database"></i>
          <p class="sidebar-item-text">Histórico de Datos</p>
        </a>
      </li>

      <!-- Administrador de Usuarios (Solo para admin) -->
      {% if user.is_superuser %}
      <li class="nav-item {% if request.resolver_match.url_name == 'ver_usuarios' or request.resolver_match.url_name == 'crear_usuario' %}active{% endif %}">
        <a class="nav-link" href="#" id="adminUserLink">
          <i class="fa fa-check"></i>
          <p class="sidebar-item-text">Administrador de Usuarios</p>
          <i class="fa fa-chevron-down"></i> <!-- Flecha para indicar submenú -->
        </a>
        <ul class="nav flex-column collapse" id="adminUserOptions" style="padding-left: 20px;">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ver_usuarios' %}">Ver Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'crear_usuario' %}">Nuevo Usuario</a>
          </li>
        </ul>
      </li>
      
      <!-- Botón de Gestionar Averías -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ver_averias' %}">
          <i class="fa fa-exclamation-triangle"></i>
          <p>Gestionar Averías</p>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>

  <!-- Botón de colapso al final -->
  <div class="sidebar-footer">
    <button class="btn btn-secondary" id="toggleSidebar">
      <i class="fas fa-chevron-left"></i>
    </button>
  </div>
</div>

