<!-- Sidebar for large screens -->
<div class="sidebar d-none d-lg-block" data-color="orange">
  <div class="logo">
    <a href="#" class="simple-text logo-mini">GP</a>
    <a href="#" class="simple-text logo-normal">Graphimates</a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <!-- Inicio -->
      <li class="nav-item {% if request.resolver_match.url_name == 'index' %}active{% endif %}">
        <a class="nav-link" href="{% url 'index' %}">
          <i class="fa fa-home"></i>
          <p>Inicio</p>
        </a>
      </li>

      <!-- Reporte de Vehículos -->
      <li class="nav-item {% if request.resolver_match.url_name == 'reporte_vehiculos' %}active{% endif %}">
        <a class="nav-link" href="{% url 'reporte_vehiculos' %}">
          <i class="fa fa-car"></i>
          <p>Reporte de Vehículos</p>
        </a>
      </li>

      <!-- Reporte de Neumáticos -->
      <li class="nav-item {% if request.resolver_match.url_name == 'ver_neumaticos' %}active{% endif %}">
        <a class="nav-link" href="{% url 'ver_neumaticos' %}">
          <i class="fa fa-tools"></i>
          <p>Reporte de Neumáticos</p>
        </a>
      </li>

      <!-- Histórico de Datos -->
      <li class="nav-item {% if request.resolver_match.url_name == 'historico_datos' %}active{% endif %}">
        <a class="nav-link" href="#">
          <i class="fa fa-database"></i>
          <p>Histórico de Datos</p>
        </a>
      </li>

      <!-- Administrador de Usuarios (solo para admin) -->
      {% if user.is_superuser %}
      <li class="nav-item has-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <i class="fa fa-check"></i>
          <p>Administrador de Usuarios</p>
        </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ver_usuarios' %}">Ver Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'crear_usuario' %}">Nuevo Usuario</a>
          </li>
        </ul>
      </li>
      {% endif %}

      <!-- Botón de Gestionar Averías -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ver_averias' %}">
          <i class="fa fa-exclamation-triangle"></i>
          <p>Gestionar Averías</p>
        </a>
      </li>
    </ul>
  </div>

  <!-- Botón de colapso del sidebar -->
  <div class="sidebar-footer">
    <button class="btn btn-secondary" id="toggleSidebar">
      <i class="fas fa-chevron-left"></i>
    </button>
  </div>
</div>
