<!-- Sidebar for large screens -->
<div class="sidebar d-none d-lg-block" data-color="orange">
  <div class="logo">
    <a href="#" class="simple-text logo-mini">GP</a>
    <a href="#" class="simple-text logo-normal">Graphimates</a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fa fa-home"></i>
          <p>Inicio</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'reporte_vehiculos' %}">
          <i class="fa fa-car"></i>
          <p>Reporte de Vehículos</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-tools"></i>
          <p>Reporte de Neumáticos</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-database"></i>
          <p>Histórico de Datos</p>
        </a>
      </li>

      <!-- Mostrar esto solo si el usuario es superusuario (admin) -->
      {% if user.is_superuser %}
      <li class="nav-item">
        <a class="nav-link" href="#" id="adminUserLink">
          <i class="fa fa-check"></i>
          <p>Administrador de Usuarios</p>
        </a>
        <ul class="nav flex-column" id="adminUserOptions" style="padding-left: 20px;">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ver_usuarios' %}">Ver Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'crear_usuario' %}">Nuevo Usuario</a>
          </li>
        </ul>
      </li>

      <!-- Botón de Gestionar Averías -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ver_averias' %}">
          <i class="fa fa-exclamation-triangle"></i>
          <p>Gestionar Averías</p>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
