{% extends "base.html" %}

{% block title %}Registrar Cliente Nuevo{% endblock %}

{% block content %}
<!-- Panel Header con el título -->
<div class="panel-header panel-header-sm">
    <div class="header text-center">
        <h2 class="title text-white">Registrar Cliente Nuevo</h2>
    </div>
</div>

<!-- Contenedor principal -->
<div class="content mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <!-- Tarjeta para el formulario de registro -->
      <div class="card shadow-lg rounded">
        <div class="card-body">
          <form method="POST" enctype="multipart/form-data" class="row g-3">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <!-- Nombre -->
            <div class="col-md-6">
              <div class="form-group">
                <label for="id_first_name" class="form-label">Nombre</label>
                {{ form.first_name }}
              </div>
            </div>

            <!-- Apellido -->
            <div class="col-md-6">
              <div class="form-group">
                <label for="id_last_name" class="form-label">Apellido</label>
                {{ form.last_name }}
              </div>
            </div>

            <!-- Correo Electrónico -->
            <div class="col-md-6">
              <div class="form-group">
                <label for="id_email" class="form-label">Correo Electrónico</label>
                {{ form.email }}
              </div>
            </div>

            <!-- Contraseña -->
            <div class="col-md-6">
              <div class="form-group">
                <label for="id_password" class="form-label">Contraseña</label>
                {{ form.password }}
              </div>
            </div>

            <!-- Empresa -->
            <div class="col-md-12">
              <div class="form-group">
                <label for="id_empresa" class="form-label">Empresa</label>
                {{ form.empresa }}
              </div>
            </div>

            <!-- Foto de perfil -->
            <div class="col-md-12">
              <div class="form-group">
                <label for="id_profile_photo" class="form-label">
                  Foto de Perfil <i class="fas fa-camera ml-2"></i> <!-- Ícono de cámara -->
                </label>
                {{ form.profile_photo }}
              </div>
            </div>

            <!-- Campo para determinar si es administrador -->
            <div class="col-12">
              <label for="id_is_superuser" class="form-label">¿Es administrador?</label>
              <div class="form-group">
                {{ form.is_superuser }} <!-- Renderiza los botones de opción -->
              </div>
            </div>

            <!-- Botón de envío -->
            <div class="col-12 text-center">
              <button type="submit" class="btn btn-primary btn-lg">Crear Usuario</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
