{% extends "base.html" %}

{% block title %}Crear Nuevo Usuario{% endblock %}

{% block content %}
<!-- Panel Header -->
<div class="panel-header panel-header-sm">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="header-title">Crear Nuevo Usuario</h2>
            </div>
        </div>
    </div>
</div>

<div class="content">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card shadow-lg">
        <div class="card-body">
          <form method="POST" enctype="multipart/form-data" class="row g-3">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="col-md-6">
              <div class="form-group">
                <label for="id_first_name" class="form-label">Nombre</label>
                {{ form.first_name }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="id_last_name" class="form-label">Apellido</label>
                {{ form.last_name }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="id_email" class="form-label">Correo Electrónico</label>
                {{ form.email }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="id_password" class="form-label">Contraseña</label>
                {{ form.password }}
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="id_empresa" class="form-label">Empresa</label>
                {{ form.empresa }}
              </div>
            </div>

            <!-- Campo para la foto de perfil con ícono -->
            <div class="col-md-12">
              <div class="form-group">
                <label for="id_profile_photo" class="form-label">
                  Foto de Perfil 
                  <i class="fas fa-camera ml-2"></i> <!-- Ícono de cámara -->
                </label>
                {{ form.profile_photo }}
              </div>
            </div>
            
            <!-- Radio buttons para determinar si es administrador -->
            <div class="col-12">
              <label for="id_is_superuser" class="form-label">¿Es administrador?</label>
              <div class="form-group">
                {{ form.is_superuser }} <!-- Renderiza los botones de opción -->
              </div>
            </div>

            <div class="col-12 text-center">
              <button type="submit" class="btn btn-primary">Crear Usuario</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
