{% extends "base.html" %}

{% block title %}Confirmar Eliminación{% endblock %}

{% block content %}
<div class="panel-header panel-header-sm">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="header-title">Confirmar Eliminación</h2>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5 text-center">
    <div class="confirmation-container p-4 shadow-sm rounded bg-white">
        <h2 class="styled-title">¿Estás seguro?</h2>
        <p class="styled-subtitle">Deseas eliminar al usuario <strong>"{{ usuario.first_name }} {{ usuario.last_name }}"</strong></p>

        <!-- Formulario con botones de eliminar y descargar -->
        <form method="POST" class="mt-4">
            {% csrf_token %}
            <button type="submit" name="descargar" class="btn btn-secondary btn-lg px-4">Descargar Información</button>
            <button type="submit" name="eliminar" class="btn btn-danger btn-lg px-4">Eliminar</button>
            <a href="{% url 'ver_usuarios' %}" class="btn btn-secondary btn-lg px-4">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
