{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2>Perfil de {{ user.get_full_name }}</h2>
  {% if user.profile_photo %}
    <img src="{{ user.profile_photo.url }}" alt="Imagen de Perfil" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
  {% else %}
    <img src="{% static 'assets/img/default-user.png' %}" alt="Imagen de Perfil" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
  {% endif %}
  <!-- Agrega más detalles del usuario si lo deseas -->
</div>
{% endblock %}
