/* custom.css */

/* Color de fondo del menú hamburguesa */
.bg-orange {
  background-color: #be5a03 !important;
}

/* Asegurar la consistencia visual */
.main-panel {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex-grow: 1;
  padding: 40px 20px;
  margin-top: 60px;
}
.footer {
  margin-top: auto;
}

/* Botón seleccionado (resaltado) */
.nav-item.active a {
  background-color: #fff !important; /* Fondo blanco para el botón seleccionado */
  color: hsla(28, 93%, 48%, 0.911) !important;         /* Texto naranja para el botón seleccionado */
  border-radius: 8px;                /* Bordes redondeados */
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 133, 27, 0.4); /* Sombra */
}

/* Botón Upgrade to Pro al final del sidebar */
.sidebar-footer a.upgrade-pro {
  background-color: #fff;            /* Fondo blanco */
  color: #FF851B !important;         /* Texto naranja */
  padding: 15px 25px;
  text-align: center;
  border-radius: 30px;               /* Botón redondeado */
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 133, 27, 0.4); /* Sombra */
  text-decoration: none;
  display: block;
  margin: 0 auto;                    /* Centramos el botón */
  width: calc(100% - 40px);          /* Ajustar el ancho para dejar márgenes */
}

.sidebar-footer a.upgrade-pro:hover {
  background-color: #f8440d;         /* Cambiar a un tono más claro al hacer hover */
  color: #fff !important;            /* Texto blanco al hacer hover */
}

/* Cambiar el color de los íconos y el texto en el estado normal */
.nav-item a {
  color: #fff !important;            /* Texto blanco para botones no seleccionados */
}

.nav-item a:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Fondo semi-transparente al pasar el mouse */
}

/* Logo superior */
.logo a {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .sidebar {
      display: none;
  }
  .main-panel {
      margin-left: 0;
  }

  /* Asegurarse de que los enlaces en pantallas pequeñas también se vean bien */
  .navbar-nav .nav-link {
      color: #fff !important;  /* Enlaces blancos para mejor contraste */
  }
}

@media (min-width: 769px) {
  .main-panel {
      margin-left: 250px;
  }
}
