{% extends "base.html" %}

{% block title %}Añadir Nueva Medida{% endblock %}

{% block content %}
<!-- Panel Header Pequeño con Título -->
<div class="panel-header panel-header-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text-white mb-4" style="font-weight: 700;">Añadir Nueva Medida</h2>
            </div>
        </div>
    </div>
</div>

<!-- Contenido Principal -->
<div class="content d-flex justify-content-center">
    <div class="container card shadow-lg rounded p-5" style="background-color: #f4f5f7; max-width: 800px;">
        <!-- Formulario para Añadir Nueva Medida -->
        <form method="POST">
            {% csrf_token %}

            <!-- Mostrar el formulario -->
            <div class="form-row">
                {{ form.as_p }}
            </div>

            <!-- Botón de Guardar -->
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-success btn-lg">Guardar Medida</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
