{% extends "base.html" %}

{% block title %}Eliminar Medida{% endblock %}

{% block content %}
<div class="panel-header panel-header-sm"></div>

<div class="container mt-5">
    <h2 class="text-danger">Eliminar Medida: {{ medida.medida }}</h2>
    <p>¿Estás seguro de que deseas eliminar esta medida?</p>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'ver_medidas' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
