{% extends "base.html" %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}
<div class="panel-header panel-header-sm"></div>  <!-- Panel Header Pequeño -->

<div class="container mt-5" style="background-color: #f4f5f7; padding: 30px; border-radius: 10px;">
    <h2 class="text-primary">{{ titulo }}</h2>
    <form method="POST" class="row g-3 mt-4">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="col-md-6">
            <label for="id_nombre" class="form-label text-primary">Nombre de la Avería</label>
            {{ form.nombre }}
        </div>

        <div class="col-md-6">
            <label for="id_estado_neumatico" class="form-label text-primary">Estado del Neumático</label>
            {{ form.estado_neumatico }}
        </div>

        <div class="col-md-12">
            <label for="id_descripcion" class="form-label text-primary">Descripción</label>
            {{ form.descripcion }}
        </div>

        <div class="col-12 text-center mt-4">
            <button type="submit" class="btn btn-success btn-lg">Guardar Avería</button>
        </div>
    </form>
</div>
{% endblock %}
