{% extends "base.html" %}

{% block title %}
  Panel de Usuario
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h1>Bienvenido, {{ user.first_name }} {{ user.last_name }}</h1>
    <p>Este es tu panel de usuario. Aquí podrás ver información sobre tu cuenta y tus vehículos.</p>
    
    <h3>Tu Flota:</h3>
    <ul>
      <!-- Aquí puedes listar los vehículos del usuario -->
      {% for vehiculo in user.vehiculos.all %}
        <li>{{ vehiculo.modelo }} - {{ vehiculo.cantidad_neumaticos }} neumáticos</li>
      {% empty %}
        <li>No tienes vehículos asignados.</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
